<!DOCTYPE html>

<html>
	<head>
		<meta charset="utf-8">

		<title>To Do...or...Not To Do</title>
		<link rel="stylesheet" href="css/normalize.css">
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,800' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="css/style.css">
		<script src="js/angular.js"></script>
		<script src="js/app.js"></script>
		<script src="js/TodosController.js"></script>
	</head>

	<body ng-app="todoApp">
		<div class="wrapper" ng-controller="TodosController as todos">

		<header>
			<h1>You've Got {{ todos.todoList.length }} <ng-pluralize count="todos.todoList.length"
                 when="{'0': 'Or No Things',
                     '1': 'Thing',
                     'other': 'Things'}">
</ng-pluralize> To Do! </h1>

			<h4>{{ todos.completedTodos() }} things completed | {{ todos.remainingTodos() }} things remaining</h4>
		</header>


		<main>

		<form class="add-todo" ng-submit="todos.addTodo()">
			<input class="text-box" type="text" placeholder="I Need To ...." ng-model="todos.text">
			<input type="submit" class="btn btn-add" value="+">
		</form>




			<section class='todo-list'>
				<ul><!--ng-hide="todo.done"   goes inside the li below to hide the task on completion -->
					<li ng-repeat='todo in todos.todoList'> 
					<!--{{$index + 1}})--><input class="checkbox" type="checkbox" ng-model="todo.done">
					<span ng-class="{done: todo.done}" > {{todo.task}} </span>
					<button class="btn btn-delete" ng-click="todos.delTodo($index)" ></button>
					</li>
				</ul>
			</section>
		</main>




		</div>


	</body>
</html>
